---
layout: default
title: Home
cover: 'assets/images/aurora.jpg'
about: 'about.html'
---

<main id="content" class="content" role="main">


    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% for post in paginator.posts %}

{% for post in paginator.posts %}

<article class="index-post">
    <header class="post-header">
        <span class="post-meta"><time datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time> {{!tags prefix="on "}}</span>
        <h2 class="post-title"><a href="{{post.url}}" style="color:#2f2e2e;">{{ post.title }}</a></h2>
        
    </header>
    <section class="post-excerpt">
        <p>{{post.excerpt}}</p>
    </section>
</article>

{% endfor %}



    <!-- Capser below -->
<!--     <article class="{{post_class}}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
        {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}
        {{author}}
        {{tags prefix=" on "}}
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </footer>
    </article> -->
    <!--  -->

<!--     {% endfor %} -->

    {% include pagination.html %}

</main>
